/*=============================================================
                         RESET
=============================================================*/

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: inherit;
}

html {
    cursor: default;
    tab-size: 4;
    line-height: 1;
}

table {
    border-collapse: collapse;
    border-color: inherit;
    text-indent: 0;
}

b,
strong,
th {
    font-weight: bolder;
}

ul {
    list-style: none;
}
ul li::before {
    content: "\200B"; /* Safari fix */
}

pre {
    overflow-x: auto;
    white-space: pre;
}

textarea {
    margin: 0;
    overflow: auto;
}

audio,
video,
canvas,
iframe,
img,
svg {
    vertical-align: middle;
}
progress {
    display: inline-block;
    vertical-align: baseline;
}

[aria-disabled="true"],
[disabled] {
    cursor: not-allowed;
}
