/*
    Code globals
*/
:root {
    --code-black: #222222;
    --code-lightgray: #d4d4d4;
    --code-gray: #707070;
    --code-white: #ffffff;

    --code-emerald: #24ccaa;
    --code-green: #a6e22e;
    --code-yellow: #e6db74;
    --code-gold: #ccbe3c;
    /* --code-orange: #ffa07a; */
    --code-orange: #ce9178;
    /* --code-blue: #66d9ef; */
    --code-lightblue: #9cdcfe;
    --code-blue: #569cd6;
    --code-slateblue: #2c3e50;
    --code-purple: #ae81ff;
    --code-pink: #f92672;
    --code-red: #ff5858;

    --code-background: var(--code-black);
    --code-text: var(--code-lightgray);
    --code-keyword: var(--code-blue);
    --code-comment: var(--code-gray);
    --code-string: var(--code-orange);
    --code-function: var(--code-gold);
    --code-class: var(--code-emerald);
    --code-selector: var(--code-orange);
    --code-operator: var(--code-green);
}

pre,
code {
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    hyphens: none;
    tab-size: 4;

    font-family: Menlo, Monaco, Consolas, "Andale Mono", "Ubuntu Mono", "Courier New", monospace;
}

/*
    Inline
*/
:not(pre) > code {
    background: #eeeeee;
    border: 1px solid #cccccc;
    padding: 0 4px;

    font-size: inherit;
    line-height: inherit;
}

/*
    Code boxes
*/
pre {
    font-size: 13px;
    line-height: 1.5;

    overflow: scroll auto;
    border-radius: 3px;
    box-shadow: inset 0 0 4px 0 #ccc;
    padding: 1em;
    background-color: var(--code-background);
    color: var(--code-text);
    text-shadow: 0 1px #000000;

    /* 
        There seems to be a Chrome bug if border is non-zero.
        Page scrolling can get stuck if the mouse is over the pre.
        Seems related to overflow.
     */
    border: none;
}
pre > code {
    position: relative;
}
pre::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}
pre::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 6px solid transparent;
    box-shadow: inset 0 0 0 16px #888;
}
pre:hover::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
}
pre::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 0 16px #999;
}

/*
    Syntax highlighting
*/

/* Common */
.token.punctuation {
}
.token.operator,
.token.operator.arrow {
    color: var(--code-operator);
}
.token.keyword,
.token.class-name .token.punctuation {
    color: var(--code-keyword);
}
.token.keyword.module,
.token.keyword.control-flow {
}
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
}

.token.string,
.token.char {
    color: var(--code-string);
}
.token.string.url {
}

.token.regex {
}

.token.comment,
.token.prolog {
    color: var(--code-comment);
}

.token.namespace {
}

.token.class-name,
.token.maybe-class-name {
    color: var(--code-class);
}

.token.function {
    color: var(--code-function);
}

.token.parameter {
}

.token.property {
}

/* HTML, XML, CSS */
.token.doctype .token.doctype-tag {
}
.token.doctype .token.name {
}
.token.tag {
}
.token.entity {
}
.token.attr-name {
}
.token.selector {
    color: var(--code-selector);
}
.token.atrule {
}
.token.unit {
}
.token.cdata {
}
.token.bold {
    font-weight: bolder;
}
.token.italic {
    font-style: italic;
}
.token.important {
    font-weight: bolder;
}

/* Language overrides */
